# Default ignored files
/../../../:LabelingCT/.idea/shelf/
/../../../:LabelingCT/.idea/workspace.xml
# Datasource local storage ignored files
/../../../:LabelingCT/.idea/dataSources/
/../../../:LabelingCT/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../:LabelingCT/.idea/httpRequests/
